.something {}
.nui_main_menu .bottom, .nui_main_menu .circle_button.active, .nui_main_menu .circle_button.suspend, .nui_main_menu .circle_button.storage:not(.disabled) {background: url(https://we-grepolis.gitlab.io/superhero/sprites.png) no-repeat;}
.nui_main_menu .bottom {height: 68px; bottom: -31px;}
.nui_main_menu .circle_button.dobss_settings  {position: absolute; top: 25px; left: 7px;}
.nui_main_menu .circle_button.dobss_stop_farm {position: absolute; top: 25px; right: 13px;}
.nui_main_menu .circle_button.dobss_villages  {position: absolute; top: 30px; right: 60px;}
.nui_main_menu .circle_button.dobss_building  {position: absolute; top: 63px; right: 13px;}
.nui_main_menu .circle_button.dobss_attacks   {position: absolute; top: 63px; left: 7px;}
.nui_main_menu .circle_button.dobss_villages .icon, .nui_main_menu .circle_button.dobss_building .icon, .nui_main_menu .circle_button.dobss_attacks .icon {width: 16px; height: 16px; margin: 10px auto; background: url(https://gphu.innogamescdn.com/images/game/premium_features/overviews_sprite_16x16.png) no-repeat;}
.nui_main_menu .circle_button.dobss_villages .icon {background-position: 0 -176px;}
/* '.nui_main_menu .circle_button.dobss_building .icon {background-position: 0 -80px;}
'.nui_main_menu .circle_button.dobss_attacks .icon {background-position: 0 -192px;} */
.nui_main_menu .circle_button.dobss_stop_farm .icon {width: 13px; height: 13px; margin: 10px auto; background: url(https://gphu.innogamescdn.com/images/game/autogenerated/layout/layout_095495a.png) no-repeat -731px -301px;}
.nui_main_menu .circle_button.active {background-position: 0 -78px;}
.nui_main_menu .circle_button.suspend {background-position: -32px -78px;}
.nui_main_menu .circle_button.storage:not(.disabled) {background-position: -64px -78px;}
.nui_main_menu .circle_button.disabled {background-position: -607px -214px; cursor: not-allowed;}
.nui_main_menu .circle_button.disabled .icon {opacity: 0.5;}
.town_groups_list .town_group .item.revolt {-webkit-box-shadow: inset 0px 0px 36px 0px rgba(255,0,0,0.6); -moz-box-shadow: inset 0px 0px 36px 0px rgba(255,0,0,0.6); box-shadow: inset 0px 0px 36px 0px rgba(255,0,0,0.6); animation: pulse 2s infinite;}
.town_groups_list .town_group .item.active {color: #008000;}
.town_groups_list .town_group .item.no_farms {color: #B22222;}
.town_groups_list .town_group .item.storage {color: #808080;}
.town_groups_list .town_group .item span.storage_label {font-size: 60%; vertical-align: super;}
.town_groups_list .town_group .group_name .sort {position: absolute; top: 2px; left: initial; right: 20px; line-height: 20px;}
.town_groups_list .town_group .group_name .sort div {float: left; width: 18px; text-align: center; cursor: pointer;}
.town_groups_list .town_group .group_name .sort div.default {width: auto; padding: 0 3px;}
.town_groups_list .town_group .group_name .sort div.active, .town_groups_list .town_group .group_name .sort div:hover {background: #D1B374;}
#dobss_settings {float: left; width: 100%; height: 100%; overflow: none;}
#dobss_settings>.left, #dobss_settings>.right {box-sizing: border-box; float: left; width: 50%; height: 100%; padding: 0 10px 0 0;}
#dobss_settings>.right {float: right; padding: 0 0 0 10px;}
#dobss_settings fieldset {box-sizing: border-box; width: 100%; max-height: 90%;}
#dobss_settings fieldset+fieldset {margin: 10px 0 0;}
#dobss_settings fieldset legend {padding: 0 10px;}
#dobss_settings fieldset .cont_wrap {float: left; overflow: auto; width: 100%; height: 340px;}
#dobss_settings fieldset .wrap {margin: 0 0 5px; line-height: 23px;}
#dobss_settings fieldset .wrap .dropdown {float: right; width: 50%;}
#dobss_settings fieldset .wrap .grepo_input {float: right; width: 40%;}
#dobss_settings fieldset .wrap .dropdown.disabled .caption {background-position: 0 -115px;}
#dobss_settings fieldset .wrap .dropdown.disabled .border-left {background-position: 0 -69px;}
#dobss_settings fieldset .wrap .dropdown.disabled .border-right {background-position: 0 -92px;}
#dobss_settings fieldset .checkbox_new  {display: block; margin: 0 0 5px;}
#dobss_settings #DOBSS_SAVE {float: right; margin: 10px 0 0;}
#dobss_settings #DOBSS_SAVE .caption {padding: 0 30px;}
#dobss_sentinels .cont_wrap {float: left; overflow: auto; width: 100%; height: 339px;}
#dobss_sentinels fieldset {margin: 0 10px 10px 0;}
#dobss_sentinels fieldset legend {width: 100%; cursor: pointer; position: relative; line-height: 16px; vertical-align: middle; background: url(https://gphu.innogamescdn.com/images/game/box/sandy/nui_sandy_box_rows.png) repeat-x;}
#dobss_sentinels fieldset legend .icon.good, #dobss_sentinels fieldset legend .icon.bad, #dobss_sentinels fieldset legend .icon.incoming {position: relative; top: 0; display: inline-block; margin-left: 5px;}
#dobss_sentinels .wrap {display: none; margin: 10px 0 0;}
#dobss_sentinels .wrap ul li {position: relative; padding: 0 0 5px 38px; line-height: 20px;}
#dobss_sentinels .wrap ul li .flag {top: 2px; left: 20px;}
#dobss_sentinels .wrap ul li .flag.alliance {background-color: #09f;}
#dobss_sentinels .wrap ul li .flag.peace {background-color: #399B1E;}
/* '#dobss_sentinels .wrap ul li .flag.enemy {background-color: #f00;} */
#dobss_sentinels .wrap ul li .attack_planner {padding: 0 0 0 10px; vertical-align: middle;}
#dobss_sentinels .wrap ul li .attack_planner .attack_town_button {display: inline-block; position: relative; top: 0; right: 0;}
#dobss_sentinels .icon_wrap {line-height: 16px;}
#dobss_sentinels .icon_wrap .icon {margin: -1px 2px 0 5px; vertical-align: middle;}
#dobss_sentinels .icon_wrap .icon.bad+.count {color: #933;}
#dobss_sentinels .icon_wrap .icon.incoming+.count {color: #339;}
#dobss_sentinels .icon.good, #dobss_sentinels .icon.bad, #dobss_sentinels .icon.incoming {display: block; position: absolute; top: 3px; left: 0; width: 13px; height: 13px; line-height: 13px; overflow: hidden; border: none; border-radius: 50%; color: transparent;}
#dobss_sentinels .icon.good::after, #dobss_sentinels .icon.bad::after, #dobss_sentinels .icon.incoming::after {display: block; position: absolute; top: 0; left: 0; width: 100%; text-align: center; font-family: "Times New Roman", "Garamond", serif; font-size: 13px; color: white;}
#dobss_sentinels .icon.good {background-color: #393;}
#dobss_sentinels .icon.good::after {left: 0.012em; content: "✓"; font-size: 10px;}
#dobss_sentinels .icon.bad {background-color: #933;}
#dobss_sentinels .icon.bad::after {content: "×"; font-weight: bold;}
#dobss_sentinels .icon.incoming {background-color: #339;}
#dobss_sentinels .icon.incoming::after {content: "➤"; font-weight: bold; font-size: 10px;}
#dobss_sentinels .icon.incoming.good {background-color: #399;}
#overviews_link_hover_menu .subsection.we .adviser {background: none;}
#overviews_link_hover_menu .subsection.we .adviser span {background: url(https://we-grepolis.gitlab.io/superhero/WEToolsV3.png) no-repeat; background-size: contain;}
#overviews_link_hover_menu .subsection.we .outer_units::before {content: "!"; position: absolute; top: -6px; left: 11px; color: #F00; font-size: 12px; font-weight: 700;}
#overviews_link_hover_menu .subsection.we .farm_town_overview {position: relative; left: -3px; overflow: hidden;}
#overviews_link_hover_menu .subsection.we .farm_town_overview::before {content: ""; position: absolute; top: 5px; left: 8px; width: 13px; height: 13px; background: url(https://gphu.innogamescdn.com/images/game/premium_features/overviews_sprite_16x16.png); background-size: 100% auto;}
#overviews_link_hover_menu .subsection.we .farm_town_overview a {padding: 0 0 0 23px;}
#overviews_link_hover_menu .subsection.we .ato::before {content: "A"; position: absolute; bottom: 2px; left: 10px; color: #F00; font-size: 10px; font-weight: 700; letter-spacing: -1px;}
#dobss_markfailed, #dobss_marknew {float: right; margin-right: 10px;}
#dobss_markfailed input, #dobss_marknew input {vertical-align: middle;}
#admin_functions, #admin_functions_left {height: 95px;}
#thread_functions>ul>li>span.wrap {margin: 2px 0 0 -3px;}
#thread_functions>#admin_functions>li.dobss {height: 50px;}
#dobss_sync_toggle>a {display: block; float: right; width: 22px; height: 23px; margin: -2px 0 0 3px;}
#dobss_sync_toggle #dobss_sync_openclose {background: url(https://gphu.innogamescdn.com/images/game/forum/button_open_close.png) no-repeat;}
#dobss_sync_toggle #dobss_sync_openclose:hover {background-position: 0 -23px;}
#dobss_sync_toggle #dobss_sync_openclose.closed {background-position: -22px 0;}
#dobss_sync_toggle #dobss_sync_openclose.closed:hover {background-position: -22px -23px;}
#dobss_sync_toggle.disabled>a {filter: gray; -webkit-filter: grayscale(100%); cursor: not-allowed;}
#dobss_sync {margin-left: 10px;}
/*#dobss_sync.disabled {background-position: -110px -44px; cursor: not-allowed;}*/
#dobss_sync_toggle {background: none; top: -1px;}
#dobss_sync_toggle #toggle {background: none; border: none; width: auto; padding: 2px 3px;}
#dobss_sync_toggle #toggle a {color: #FFF;}
#dobss_sync_select {display: none; position: absolute; top: 25px; right: 0; width: 300px; padding: 10px; border: 1px solid #d0be97; border-width: 0 0 1px 1px; background-image: url(https://gphu.innogamescdn.com/images/game/border/even.png); z-index: 100;}
#dobss_sync_select select {width: 100%; float: left;}
#dobss_sync_select select.topic {display: none; height: 120px; margin: 10px 0 0;}
#dobss_sync_select select .active {background: #FEE0A0;}
#dobss_sync_select select .active:nth-child(odd) {background: #FFEBBF;}
div.wonder_res_container fieldset.send_res .btn.btn_we {position: absolute; top: 154px; left: 424px; width: 50px;}
div.wonder_res_container fieldset.send_res .btn.btn_we .middle {min-width: 34px;}
div.wonder_res_container fieldset.send_res .btn.btn_we .icon {display: inline-block; background: url(https://we-grepolis.gitlab.io/superhero/WEToolsV3.png) no-repeat; background-size: contain; width: 18px; height: 18px; margin: 3px 0 0;}
@-webkit-keyframes pulse {
  0% {-webkit-box-shadow: inset 0 0 36px 0 rgba(255,0,0,0.6);}
  50% {-webkit-box-shadow: inset 0 0 36px 0 rgba(255,0,0,0.3);}
  100% {-webkit-box-shadow: inset 0 0 36px 0 rgba(255,0,0,0.6);}
}
@keyframes pulse {
  0% {-moz-box-shadow: inset 0 0 36px 0 rgba(255,0,0,0.6); box-shadow: inset 0 0 36px 0 rgba(255,0,0,0.6);}
  50% {-moz-box-shadow: inset 0 0 36px 0 rgba(255,0,0,0.3); box-shadow: inset 0 0 36px 0 rgba(255,0,0,0.3);}
  100% {-moz-box-shadow: inset 0 0 36px 0 rgba(255,0,0,0.6); box-shadow: inset 0 0 36px 0 rgba(255,0,0,0.6);}
}
